pandas
numpy
transformers==4.18.0
torch --extra-index-url https://download.pytorch.org/whl/cpu
torchvision --extra-index-url https://download.pytorch.org/whl/cpu
torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
sentencepiece==0.1.96
datasets==2.0.0
accelerate==0.6.2
seqeval==1.2.2
git+https://github.com/ns-moosavi/coval.git@87071a6293dc2e786dcfe2ed78e9369c17e41b3b
